<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Newman Group</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/newman.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/css/contacto/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/css/contacto/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER ENDS START ======-->


    <header id="home" class="header-area">
        <div class="navigation fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/">
                                <img src="/images/newman.png" alt="Logo">
                            </a> <!-- Logo -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item"><a class="page-scroll" href="/">INICIO</a></li>
                                    {{!-- <li class="nav-item"><a class="page-scroll" href="/alquiler">ALQUILER</a></li> --}}
                                    <li class="nav-item"><a class="page-scroll" href="/compra">COMPRA</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="/compra-campos">CAMPOS</a></li>
                                    {{!-- <li class="nav-item"><a class="page-scroll" href="/venta">VENTA</a></li> --}}
                                    <li class="nav-item active"><a class="page-scroll" href="/contacto">CONTACTO</a></li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
    </header>


    {{!-- {{#each errors}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{text}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}} --}}

    <section id="contact" class="contact-area pt-200 pb-30 gray-bg">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title" style="float: left;">
                        <h4 class="title">Contáctenos</h4>
                    </div> 
                    <div class="contact-form pt-30">
                        <form id="contact-form-contacto" action="/send-email-contact" method="POST">
                            <div class="single-form">
                                <input id="valueNombre" type="text" name="name" placeholder="Nombre" value="{{name}}">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <input id="valueMail" type="email" name="email" placeholder="Email" value="{{email}}">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <textarea id="valueMessage" name="message" placeholder="Mensaje" value="{{message}}"></textarea>
                            </div> <!-- single form -->

                            {{!-- ERRORES --}}
                            <br/>
                            {{#each errors}}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{text}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span> 
                                    </button>
                                </div>
                            {{/each}}

                            <div class="single-form">
                                <button class="main-btn" type="submit">Enviar Mensaje</button>
                            </div> <!-- single form -->
                        </form>
                    </div> <!-- contact form -->
                    <br/>
                    {{> messages}}
                </div>
                <div class="col-lg-6">
                    <div class="contact-map mt-60">
                        <div class="section-title">
                            <h4 class="title">Información de Contacto</h4>
                            <h2 class="title">Telefono: <span style="font-size: 90%; color:#838181">2215937093</span></h2>
                            <h2 class="title">Dirección: 
                                <span style="font-size: 90%; color:#838181">
                                    Calle 68 Nº 1106 e/ 55 y 56 La Plata
                                </span>
                            </h2>
                            {{!-- <p><span>Direccion:</span> Calle 2 Nº 1106 (e/55 y 56) La Plata (CP 1900)</p> --}}
                            {{!-- <h2 class="title">Horarios: <span style="font-size: 80%; color:#838181">2215937093</span></h2> --}}
                            <h1 class="title">Email: <span style="font-size: 90%;color:#838181;">administracion@inmobiliarianewman.com</span></h1>
                        </div> 
                    </div> <!-- contact map -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    

    {{!-- <section class="contact-area pt-200 pb-250 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form pt-30">
                        <form id="contact-form-detalle" action="/send-email-propiedad/{{propiedad._id}}" method="POST">
                            <div class="single-form">
                                <input id="valueNombre" type="text" name="name" placeholder="Nombre">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <input id="valueMail" type="email" name="email" placeholder="Email">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <textarea id="valueMessage" name="message" placeholder="Mensaje"></textarea>
                            </div> <!-- single form -->
                            <p class="form-message"></p>
                            <div class="single-form">
                                <button class="main-btn" type="submit">Enviar Mensaje</button>
                            </div> <!-- single form -->
                        </form>
                    </div> <!-- contact form -->
                </div>
                <div class="col-lg-4 pt-100">
                    <div class="section-title">
                        <h4 class="title">Precio: ${{propiedad.precio}}<span style="font-size: 80%; color:#838181">ARS</span></h4>
                    </div> 
                </div>
            </div> 
        </div> 
    </section> --}}



    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="footer-area pt-65">
        <div class="footer-widget pt-30 pb-30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-content text-center">
                            {{!-- <a href="index.html">
                                <img src="images/.png" alt="Logo">
                            </a> --}}
                            <p style="font-size: 25px;">Trabajamos para que tus sueños se hagan realidad.</p>
                            <ul>
                                <li><a href="https://www.facebook.com/Newman-Group-104458271309007"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="https://www.instagram.com/new_man_group/"><i class="lni-instagram-original"></i></a></li>
                            </ul>
                        </div> <!-- footer content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20">
                            <p>Copyright © 2021. Page Crafted by <a rel="nofollow">Emanuel Higuera</a></p>
                        </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->


    <!--====== jquery js ======-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/js/jquery.magnific-popup.min.js"></script>


    <!--====== Counter Up js ======-->
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>


    <!--====== Appear js ======-->
    <script src="/js/jquery.appear.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="/js/scrolling-nav.js"></script>
    <script src="/js/jquery.easing.min.js"></script>


    <!--====== Main js ======-->
    <script src="/js/contacto/main.js"></script>

</body>

</html>
